# build output
src/
src
dev/
dev
dev_tools/
dev_tools
dev_restored
dev_restored/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.*.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.vscode/
.idea/
*.swp

# Other
*.local
backup.bat
build.bat